*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: larger;
}
h1 {
    text-align:center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 25px 0;
    grid-gap: 20px;
    }
    
    h1:after,h1:before {
    content: " ";
    display: block;
    border-bottom: 5px solid lightgrey;
    }

.middle-container{
    width: 100%;
    height: 20%;
    text-align: center;
    position: absolute;
}
#circle{
position: absolute;
width: 100%;
height: 100%;
top: 0;
right: 20px;
font-size: 20px;
opacity: 0.6;
padding-top: 25px;
}

#back{
    position: absolute;
    width: 95%;
    height: 20%;
    top: 7px;
    right: 0;
    font-size: 30px;
    opacity: 0.6;
    padding-top: 20px;
}

.card{
    border: 1.5px solid rgb(245, 60, 60);
    height: 45vh;
    width: 20%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    margin-top: 60px;
    margin-left: 50px;
    font-weight: lighter;
    margin: auto;
    margin-top: 10%;
}

.div1{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    width: 75%;
    text-align: left;
    height: 15%;
    color: rgb(228, 87, 87);
    border-bottom: 1px solid black;
    text-align: left
}

.div2{
    width: 90%;
    height: 10%;
    font-size: 22.5px;
    color: red;
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
    padding-left: 13%;
}

.div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 53%;
    text-align: left;
    font-size: 21px;
    margin-left: 70px;
}

.circle1{
    padding-top: 94%;
    padding-left: 86%;
}

.blur{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}


.pop-up{
    position: absolute;
    left: 37%;
    top: 30%;
    height: 22vh;
    width: 27%;
    border: 1.5px solid red;
    border-radius: 10px;
    color: red;
    font-size: 18px;
    box-shadow: 3px 3px 10px grey;
    background-color: white;
    padding: 20px;
}

.add-new{
    opacity: 0.7;
    font-size: 17px;
}

#pop-upbar{
    margin-top: 20px;
    border-radius: 4px;
    width: 85%;
    height: 27%;
    border: 1.5px solid red;
    box-shadow: 1px 1px 3px grey;
}

.pop-up-button{
    width: 25%;
    height: 18%;
    margin-top: 21%;
    color: white;
    background-color: red;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 170px;
    font-size: 20px;
}